/* reset css */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body { background-color: #f5f5f5; }
a { text-decoration: none; }
ul { list-style: none; }
img { max-width: 100%; }

/* cabeçalho */
.cabecalho {
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.logo {
    width: 56px;
    height: 56px;
    float: left;
    font-size: 0;
    background: url(../images/logo-mobile.png) center center/56px no-repeat;
}

.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 56px;
    background: linear-gradient(to right, #ce2e3c, #da6709);
}

/* menu */
.menu {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-close {
    color: #fff;
    font-size: 1.5em;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
}

.menu ul {
    width: 100%;
    float: left;
    text-align: center;
}

.menu li { padding: 1.5%; }

.menu li a {
    color: #fff;
    font-size: 2em;
    padding: 1.5em 3%; 
}

.menu li a:hover { color: #da6709;}

/* banner */
.banner {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
    background: url(../images/bg.jpg) no-repeat fixed;
}

.title h2 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
}

.title h3 {
    color: #fff;
    font-size: 1.5em;
}

.title { width:100%; }

.buttons { 
    width: 100%; 
    margin-top: 2%;
}

.fa-arrow-circle-right, .fa-question-circle { float: right; }

.btn-cadastrar, .btn-sobre {
    width: 100%;
    padding: 5%;
    margin-top: 2%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
}

.btn-cadastrar {
    color: #130400;
    background-color: #fff;
}

.btn-sobre {
    color: #fff;
    background-color: #130400;
}

/* Serviços */
.servicos {
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.servico {
    width: 100%;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 3%;
    background-color: #fff;
}

.servico img { border-radius: 7px 7px 0 0; }

.inner { padding: 7%; }

.inner a {
    font-size: 1.5em;
    color: #130400;
    font-weight: 700;
}

.inner h4 {
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
}

.inner p { 
    margin-top: 6%;
    color: #130400;
    line-height: 1.5em;
}


/* newsletter */
.newsletter {
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background-color: #130400;
}

.newsletter h2 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
}

.newsletter h3 { color: #fff; }

.newsletter form { margin-top: 2%; }

.newsletter input {
    width: 100%;
    color: #fff;
    padding: 5%;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #130400;
}

.newsletter button {
    width: 100%;
    padding: 5%;
    cursor: pointer;
    color: #130413;
    margin-top: 3%;
    border-radius: 5px;
    background-color:#fff;
}

/* Rodape */
.rodape {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
    background: linear-gradient(to right, #ce2e3c, #da6709);
}

.socialicons a {
    font-size: 1.5em;
    margin-right: 3%;
    color: rgba(255, 255, 255, 0.7);
}

.socialicons a:hover { color: #fff; }

.socialicons a:last-child { margin-right: 0; }

.copyright {
    margin-top: 2%;
    color: rgba(255, 255, 255, 0.7);
}

/* smartphones */
@media screen and (min-width: 480px){
    .logo {
        width: 214px;
        background: url(../images/logo.png) center center/214px no-repeat;
    }
}

/* tablets */
@media screen and (min-width: 768px){
    .servico {
        width: 49%;
        float: left;
        margin-right: 2%;
    }

    .servico:nth-child(2){
        margin-right: 0;
    }

    .newsletter h2 { font-size: 2em; }
    .newsletter h3 { font-size: 1.5em; }

    .newsletter input {
        width: 70%;
        float: left;
        padding: 2%;
        margin-right: 1%;
    }

    .newsletter button {
        width: 29%;
        padding: 2%;
        float: right;
        margin-top: 0;
    }
}

/* tablets e desktops */
@media screen and (min-width: 850px){
    .title {
        width: 70%;
        float: left;
        text-align: left;
    }

    .title h2 { font-size: 3em; }
    .title h3 { font-size: 2em; }

    .buttons {
        width: 30%;
        float: right;
        marginr-top: 0;
    }

    .servico { width: 32%; }
    .servico:nth-child(2) { margin-right: 2%; }
    .servico:nth-child(3) { margin-right: 0; }

    .newsletter input {
        width: 60%;
        float: none;
    }

    .newsletter button {
        width: 20%;
        float: none;
    }
}

/* large devices */
@media screen and (min-width: 950px) {
    .btn-menu { display: none; }
    .btn-close { display: none; }
    
    .menu {
        width: auto;
        height: 56px;
        float: right;
        display: block !important;
        line-height: 56px;
        position: static;
        background-color: #f5f5f5;
    }

    .menu li {
        padding: 0;
        float: left;
    }

    .menu li a {
        font-size: 1em;
        padding: 15px;
        color: #130400;
    }

    .menu li a:hover {
        color: #da6709;
        border: none;
    }
}